all:
  hosts:
    k3s-server:
      ansible_host: >-
        {{
          lookup(
            'pipe',
            'terraform -chdir=' ~ inventory_dir
            ~ '/../../terraform/k3s-cluster output -raw elastic_ipv4 2>/dev/null || '
            ~ 'terraform -chdir=' ~ inventory_dir
            ~ '/../../terraform/k3s-cluster output -raw public_ipv4'
          )
        }}
      ansible_user: ubuntu
      ansible_ssh_private_key_file: ~/.ssh/id_ed25519
