apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginxinc/nginx-unprivileged:alpine3.22-perl
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        name: nginx
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 5
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
        volumeMounts:
        - mountPath: /var/cache/nginx
          name: cache
        - mountPath: /tmp
          name: tmp
        - mountPath: /var/run
          name: run
      securityContext:
        fsGroup: 101
        runAsNonRoot: true
        runAsUser: 101
      volumes:
      - emptyDir: {}
        name: cache
      - emptyDir: {}
        name: tmp
      - emptyDir: {}
        name: run
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: dev
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: nginx
  type: ClusterIP
