---
# K3s configuration tasks

- name: Create K3s configuration directory
  ansible.builtin.file:
    mode: '0755'
    path: /etc/rancher/k3s
    state: directory

- name: Build tls-san list
  ansible.builtin.set_fact:
    k3s_tls_san_list: >-
      {{
        [ansible_host, ansible_default_ipv4.address, k3s_advertise_address | default(ansible_default_ipv4.address)] +
        ([public_ip] if public_ip is defined else [])
      }}

- name: Configure K3s networking
  ansible.builtin.copy:
    content: |
      advertise-address: {{ k3s_advertise_address | default(ansible_default_ipv4.address) }}
      bind-address: {{ k3s_bind_address }}
      cluster-cidr: {{ k3s_cluster_cidr }}
      disable-network-policy: {{ k3s_disable_network_policy | bool }}
      node-ip: {{ k3s_server_host | default(ansible_default_ipv4.address) }}
      service-cidr: {{ k3s_service_cidr }}
      tls-san:
      {% for san in k3s_tls_san_list | unique %}
        - {{ san }}
      {% endfor %}
      write-kubeconfig-mode: {{ k3s_write_kubeconfig_mode }}
    dest: /etc/rancher/k3s/config.yaml
    mode: '0644'
  notify: Restart K3s
