apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  name: kube-prometheus-stack
  namespace: argocd
spec:
  destination:
    namespace: observability
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: kube-prometheus-stack
    helm:
      releaseName: kube-prometheus-stack
      values: | #pragma: allowlist secret
        grafana:
          admin:
            existingSecret: grafana-admin-credentials
            passwordKey: admin-password
          enabled: true
          persistence:
            enabled: true
            size: 10Gi
          sidecar:
            datasources:
              enabled: true
              label: grafana_datasource
          additionalDataSources:
            - name: Loki
              type: loki
              url: http://loki:3100
              access: proxy
              isDefault: false
            - name: Tempo
              type: tempo
              url: http://tempo:3100
              access: proxy
              isDefault: false
            - name: Mimir
              type: prometheus
              url: http://mimir-query-frontend:8080/prometheus
              access: proxy
              isDefault: false
        prometheus:
          prometheusSpec:
            retention: 10d
            storageSpec:
              volumeClaimTemplate:
                spec:
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 50Gi
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: "81.5.0"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
