---
- name: Bootstrap Infrastructure
  hosts: all
  become: yes
  vars:
    aws_region: us-east-1
    vault_kms_key_id: "f7eafd84-0824-4c61-9a23-f6a296b95c6e"
  pre_tasks:
    - name: Load encrypted credentials
      community.sops.load_vars:
        file: inventory/group_vars/all/secrets.sops.yaml
  roles:
    - common
    - wireguard
    - vault
    - k3s
